*{ 
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background: white;
    font: 14px Arial, helvetica, sans-swerif;
    -webkit-font-smoothing: antialiased ! important;
}
/*  HEADER */
.logo-top{

    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.img-logo{
    width: 600px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.main-title{
    max-width: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


.sub-title{
    max-width: 400px;
    font-size: 12px;
    text-align: justify;
    display: flex;
    float: right;
    flex-direction: column;
    /* padding-right: 100px; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.author-top{
    margin-top: 10px;
    color: gray;
    font-style: italic;

}




/*  VIDEO POST  */
.main-video-post{
    max-width: 1200px;
    /* height: 315px; */
    width: 90%;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightgray;
    border-radius: 30px;
    flex-direction: column;
}
iframe{
    border-radius: 30px;
    display: flex;
    width: 50%;
}

.content-video{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border:1px solid blue; */
}

.about-video{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border:1px solid red; */
}

.post-number{
    border: 2px solid gray;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    display: flex;
    margin-top: 30px;
    margin-left: 70%;

}

.flor{
    width: 35px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;  
}

.number-post{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

}

.number-post .post-number  {
    float: inline-end;
}

.main-title-video{
    margin-top: 30px;
    margin-left: 30px;
}

.main-subtitle-video{
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
}

.bottom-video{
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
}


@media (max-width: 800px) {
    .logo-top{
      flex-direction: column;
    }

    .img-logo{
        width: 400px;
    }

    .content-video{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .post-number{
        margin-left: 30px;
    }

    iframe {
        width: 100%;
    }
  }

/* .main-title-video{
    font-size: 16px;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
} */


/* .video{
    max-width: 800px;
    margin-top: 25px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
} */



/* .content-flor{
    width: 250px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
} */

/* .number-post{
    width: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
} */




/* .main-subtitle-video{
    font-size: 16px;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
} */

/* .bottom-video{
    font-size: 16px;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
} */

footer{
    margin-top: 300px;
}



/* .video-container{
    width: 100vw;
    height: 100vh;
  }
      
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  } */